[{assign var="template_title" value="MY_ACCOUNT"|oxmultilangassign}]
[{capture append="oxidBlock_content"}]
    <div class="accountDashboardView">
        <h1 class="page-header headline account-menu-page-header" id="accountMain" class="page-header">[{oxmultilang ident="WELCOME"}]
            [{$oxcmp_user->oxuser__oxfname->value}] [{$oxcmp_user->oxuser__oxlname->value}]</h1>

        [{if $oView->getAccountDeletionStatus() === false}]
            [{assign var="statusMessage" value="DD_DELETE_MY_ACCOUNT_ERROR"|oxmultilangassign}]
            [{include file="message/error.tpl" statusMessage=$statusMessage}]
        [{/if}]

        <div class="row">
            <div class="col-12 col-lg-6">
                [{block name="account_dashboard_col1"}]
                    <div class="card">
                        <div class="card-header">
                            <a id="linkAccountPassword" href="[{oxgetseourl ident=$oViewConf->getSslSelfLink()|cat:"cl=account_password"}]">[{oxmultilang ident="CHANGE_PASSWORD"}]</a>
                            <a href="[{oxgetseourl ident=$oViewConf->getSslSelfLink()|cat:"cl=account_password"}]" class="btn btn-outline-dark btn-sm float-right edit-button">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="card-body">[{oxmultilang ident="CHANGE_PASSWORD"}]</div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a id="linkAccountOrder" href="[{oxgetseourl ident=$oViewConf->getSelfLink()|cat:"cl=account_order"}]">[{oxmultilang ident="ORDER_HISTORY"}]</a>
                            <a href="[{oxgetseourl ident=$oViewConf->getSslSelfLink()|cat:"cl=account_order"}]" class="btn btn-outline-dark btn-sm float-right edit-button">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="card-body">[{oxmultilang ident="ORDERS"}] [{$oView->getOrderCnt()}]</div>
                    </div>
                [{/block}]
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <a id="linkAccountBillship" href="[{oxgetseourl ident=$oViewConf->getSslSelfLink()|cat:"cl=account_user"}]">[{oxmultilang ident="BILLING_SHIPPING_SETTINGS"}]</a>
                        <a href="[{oxgetseourl ident=$oViewConf->getSslSelfLink()|cat:"cl=account_user"}]" class="btn btn-outline-dark btn-sm float-right edit-button">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card-body">[{oxmultilang ident="UPDATE_YOUR_BILLING_SHIPPING_SETTINGS"}]</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        [{block name="account_dashboard_delete_my_account"}]
            <div class="col-6">
                [{if $oView->isUserAllowedToDeleteOwnAccount()}]
                <button
                        class="btn btn-danger"
                        data-toggle="modal"
                        data-target="#delete_my_account_confirmation"
                >
                    <i class="fa fa-trash"></i>
                    [{oxmultilang ident="DD_DELETE_MY_ACCOUNT"}]
                </button>
                [{include file="page/account/delete_my_account_confirmation.tpl"}]
                [{/if}]
            </div>
        [{/block}]
        <div class="col-6 text-right">
            <a href="[{$oViewConf->getLogoutLink()}]" class="btn btn-warning" role="getLogoutLink">
                <i class="fa fa-power-off"></i> [{oxmultilang ident="LOGOUT"}]
            </a>
        </div>
        <p>&nbsp;</p>
    </div>
    [{insert name="oxid_tracker" title=$template_title}]
[{/capture}]


[{capture append="oxidBlock_sidebar"}]
    [{include file="page/account/inc/account_menu.tpl"}]
[{/capture}]
[{include file="layout/page.tpl" sidebar="Left"}]
